.jobs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.job-list-container {
    padding: 0 200px 0px 200px;
}


.filter-input {
    padding: 8px 10px; /* Slightly reduced padding for a more compact look */
    width: 25%;
    justify-self: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0; /* Removed the bottom margin to align better within the filter bar */
}
